<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <form class="full-width answer-form" fxLayout="row">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'content.add-answer' | translate }}</mat-label>
      <input
        matInput
        name="answer"
        id="answer-input"
        aria-labelledby="answer"
        [(ngModel)]="newAnswer"
        autocomplete="off"
      />
      <button
        class="add-button"
        mat-icon-button
        matSuffix
        (click)="createAnswer()"
      >
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
