<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="entity-property-tree"
>
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <span
        >{{
          (translateKeys ? 'admin-area.' : '') + node.key | translate
        }}:</span
      >&nbsp;<span class="value">{{ node.value }}</span>
    </li>
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <span
          >{{
            (translateKeys ? 'admin-area.' : '') + node.key | translate
          }}:</span
        >&nbsp;<span class="value-nested">{{ '{' }}...}</span>
      </div>
      <ul
        [class.entity-property-tree-invisible]="!treeControl.isExpanded(node)"
      >
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
