<form>
  <mat-form-field appearance="outline" class="no-field-hint">
    <mat-label>{{ 'content.answer' | translate }}</mat-label>
    <textarea
      #answerInput
      (input)="updateTextContainsImage(answerInput.value)"
      [(ngModel)]="answer"
      aria-labelledby="answer"
      id="body-input"
      cdkAutosizeMaxRows="8"
      cdkAutosizeMinRows="3"
      matInput
      cdkTextareaAutosize
      maxlength="2000"
      name="questionInput"
    ></textarea>
  </mat-form-field>
  <app-hint
    *ngIf="textContainsImage"
    text="utils.formatting-image-hint"
    [type]="warningType"
  ></app-hint>
  <div class="form-spacer"></div>
</form>

<div class="visually-hidden">
  <div id="answer">{{ 'content.a11y-enter-flashcard-answer' | translate }}</div>
</div>
