#content-group {
  width: 100%;
  transition: all 150ms;
  margin-top: 10px;
  padding: 0 16px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;
}

.locked {
  opacity: 0.5;
}

.badge {
  margin: 0 5px 0 10px;
}
