@import '../../../variables';

$search-bar-height: 70px;

.mat-mdc-form-field {
  float: left;
  padding-left: 10px;
}

#search-box {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 50px;
  font-size: large;
  border-radius: 35px;
  color: var(--on-background);
}

.search-input-hidden {
  width: 0;
  padding: 0 !important;
}

.search-input {
  width: 100%;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .search-bar-placeholder {
    display: none;
  }

  .fixed-start-position {
    opacity: 0;
    position: fixed;
    top: -200px !important;
    right: calc(calc(100vw - min(832px, 92vw)) / 2) !important;
  }

  .header-container {
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .search-container {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .list-switcher {
    display: none;
  }

  .header-container {
    justify-content: center;
  }
}

.centered {
  justify-content: center;
}

.list-switcher {
  margin-top: calc(calc(#{$search-bar-height} - 48px) / 2);
}

.search-container {
  transition: all 400ms;
  border-radius: 35px;
  background-color: var(--background);
  z-index: 1;
}

@media (min-width: 1000px) {
  .search-container-fixed > * {
    transition: opacity 200ms;
  }

  .search-container-fixed:hover > * {
    opacity: 1;
  }

  .search-container-fixed:not(:hover) > * {
    opacity: 0.7;
  }
}

.search-container-fixed {
  opacity: 1;
  min-height: $search-bar-height;
  position: fixed;
  width: 100%;
}

@media (max-width: 1000px) {
  .five-buttons {
    max-width: 340px;
  }

  .three-buttons {
    max-width: 246px;
  }
}

@media (min-width: 1001px) {
  .five-buttons {
    right: calc(50% - 205px);
    max-width: 410px;
  }

  .three-buttons {
    max-width: 316px;
  }
}

.search-container-archive {
  right: calc(50% - 122px);
  max-width: 244px;
}

@media (max-width: 599px) {
  .search-container-fixed-visible {
    top: calc(4vw + $mobile-bar-height);
  }

  .search-container-fixed-invisible {
    top: calc(-4vw - $search-bar-height + $mobile-bar-height);
  }
}

@media (min-width: 600px) {
  .search-container-fixed-visible {
    top: calc(4vw + $bar-height);
  }

  .search-container-fixed-invisible {
    top: calc(-4vw - $search-bar-height + $bar-height);
  }
}

.close-btn {
  margin-right: 16px;
}

.bar-icon {
  background-color: var(--surface);
  color: var(--on-surface);
  opacity: 0.8;

  &:last-of-type {
    margin: 0;
  }
}

.add-big {
  margin-top: 0.5em;
}

.counter {
  color: var(--on-background);
  text-align: center;
  font-size: 1.5em !important;
  margin: 0;
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

// 2 x padding (8vw) + fab height (56px) + nav bar height (56px)
.above-add {
  bottom: calc(8vw + 112px);
}

// 2 x padding (8vw) + fab height (56px)
.mobile-scroll-position {
  bottom: calc(8vw + 56px);
}

.desktop-scroll-position {
  bottom: 4vw;
}

.scroll-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: -64px;
  z-index: 1;
  transition: right 400ms, visibility 200ms, opacity 200ms;

  &.visible {
    visibility: visible;
    opacity: 1;
    right: 4vw;
  }
}

.scroll-to-new-posts {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: -4vw;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  background: var(--surface);
  transition: bottom 400ms, visibility 200ms, opacity 200ms;
}

.scroll-to-new-posts-visible {
  visibility: visible;
  opacity: 1;

  // Additional 10px to align with add/scroll button vertically
  bottom: calc(4vw + 10px);

  &.above-bar {
    bottom: calc($mobile-bar-height + 4vw + 10px);
  }
}

.comments-container {
  margin-top: min(1em, 4vw);
  margin-bottom: 20px;
}

.divider-container {
  margin: 16px 0;
  position: relative;
}

.divider-container .mat-divider {
  border-top-color: var(--on-dialog);
  opacity: 0.3;
}

.divider-label {
  font-size: 14px;
  margin: 8px 0;
  padding: 0 8px;
  position: absolute;
  top: -16px;
  left: 16px;
  z-index: 3;
  background-color: var(--dialog);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.header-container {
  height: $search-bar-height;
  display: flex;
  flex-direction: row;
}

.bottom-margin {
  margin-bottom: 3em;
}
