@import '../contents-with-options';

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.mat-mdc-list {
  position: relative;
}

.list-item {
  margin-top: $option-padding-full;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  transition: border-color 300ms;

  &:not(.correct-answer, .wrong-answer, .primary-border-color) {
    border-color: var(--grey-light);
  }

  &:last-of-type {
    margin-bottom: 16px;
  }

  &:first-of-type {
    margin-top: 8px;
  }
}

.correct-answer {
  border-color: var(--green);
}

.wrong-answer {
  border-color: var(--red);
}

.mat-mdc-radio-button,
.mat-mdc-checkbox {
  width: 100%;
}

.answer-indicator {
  margin-right: $option-padding-full;
}
