<div *ngIf="!isLoading" fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column">
    <mat-checkbox
      [checked]="multipleCorrectAnswers"
      [(ngModel)]="multipleCorrectAnswers"
      name="multiple"
    >
      <span>{{ 'content.multiple-answers-allowed' | translate }}</span>
    </mat-checkbox>
    <mat-checkbox
      [checked]="noCorrectAnswers"
      [(ngModel)]="noCorrectAnswers"
      (ngModelChange)="removeCorrectAnswers()"
      name="noCorrect"
    >
      <span>{{ 'content.no-correct-answer' | translate }}</span>
    </mat-checkbox>
  </div>
  <div *ngIf="displayAnswers.length > 0">
    <app-divider></app-divider>
    <mat-list>
      <mat-list-item *ngFor="let answer of displayAnswers; let i = index">
        <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
          <mat-checkbox
            id="answer-{{ i }}"
            *ngIf="!noCorrectAnswers"
            (ngModelChange)="switchValue(answer.answerOption.label, i)"
            [(ngModel)]="answer.correct"
            [checked]="answer.correct"
            name="{{ answer.answerOption.label }}"
            aria-label="{{
              'content.a11y-answer-checkbox'
                | translate : { answer: answer.answerOption.label }
            }}"
          >
          </mat-checkbox>
          <form fxLayout="row" class="full-width">
            <mat-form-field class="edit-input surface-input no-field-hint">
              <input
                id="answerEdit-{{ i }}"
                name="answerEdit"
                matInput
                [(ngModel)]="answer.answerOption.label"
                (focus)="goInEditMode(i)"
                (blur)="leaveEditMode()"
                autocomplete="off"
              />
            </mat-form-field>
          </form>
          <button
            mat-icon-button
            *ngIf="!isEditMode || noAnswersYet"
            attr.aria-label="{{
              'content.a11y-delete-answer'
                | translate : { answer: answer.answerOption.label }
            }}"
            class="delete"
            (click)="deleteAnswer(i)"
            matTooltip="{{ 'content.delete-answer' | translate }}"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <app-create-answer-option
    *ngIf="!isEditMode || noAnswersYet"
    (answerCreated)="addAnswer($event)"
    [resetEvent]="resetAnswerInputEvent"
  ></app-create-answer-option>
</div>

<div class="visually-hidden">
  <div id="single-choice">{{ 'content.a11y-single-choice' | translate }}</div>
  <div id="multiple-choice">
    {{ 'content.a11y-multiple-choice' | translate }}
  </div>
  <div id="delete-answer">{{ 'content.a11y-delete-answer' | translate }}</div>
</div>
