<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <section class="card-container">
      <div class="card" [ngClass]="{ flipped: flipped }">
        <mat-card>
          <div class="side" [ngClass]="{ 'invisible-card-content': flipped }">
            <div class="visually-hidden">
              <div id="message-announcer-button" tabIndex="-1">
                {{
                  (isEditMode
                    ? 'content.a11y-content-edit-message'
                    : 'content.a11y-content-create-message'
                  )
                    | a11yIntro
                    | async
                }}
              </div>
            </div>
            <form fxLayout="column" fxLayoutGap="12px">
              <div
                class="header-container"
                fxLayout="row wrap"
                fxLayoutAlign="space-between center"
                fxLayoutGap="1em"
              >
                <mat-form-field
                  appearance="outline"
                  class="no-field-hint primary-form-field smaller-select-input"
                  tabindex="{{ isEditMode ? '-1' : '0' }}"
                >
                  <mat-select
                    panelClass="bigger-panel"
                    [(value)]="selectedFormat"
                    [disabled]="isEditMode"
                    appHotkey="2"
                    [appHotkeyTitle]="'content.format' | translate"
                  >
                    <mat-select-trigger>
                      <div
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="10px"
                        class="primary"
                      >
                        <mat-icon class="format-button-icon">{{
                          selectedFormat.icon
                        }}</mat-icon>
                        <span>{{
                          'content.format-' + selectedFormat.name | translate
                        }}</span>
                      </div>
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="let format of formats"
                      [value]="format"
                      class="higher-option"
                    >
                      <div fxLayout="row">
                        <mat-icon class="format-icon">{{
                          format.icon
                        }}</mat-icon>
                        <div fxLayout="column" fxLayoutAlign="center">
                          <span
                            attr.aria-label="{{
                              'content.a11y-format-' + format.name | translate
                            }}"
                            class="format-name"
                          >
                            {{
                              'content.format-' + format.name | translate
                            }}</span
                          >
                          <span class="format-description">{{
                            'content.format-' + format.name + '-description'
                              | translate
                          }}</span>
                        </div>
                      </div>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <app-formatting-toolbar
                  [inputElement]="questionInput"
                  (valueChanged)="question = $event"
                ></app-formatting-toolbar>
              </div>
              <mat-form-field
                appearance="outline"
                class="input-block no-field-hint"
              >
                <mat-label>{{
                  (selectedFormat.name !== 'slide'
                    ? 'content.body'
                    : 'content.body-neutral'
                  ) | translate
                }}</mat-label>
                <textarea
                  #questionInput
                  (input)="updateTextContainsImage(questionInput.value)"
                  [(ngModel)]="question"
                  aria-labelledby="body"
                  id="body-input"
                  cdkAutosizeMaxRows="8"
                  cdkAutosizeMinRows="3"
                  matInput
                  cdkTextareaAutosize
                  maxlength="{{
                    selectedFormat.name !== 'slide' ? 1000 : 2000
                  }}"
                  name="questionInput"
                  appHotkey="1"
                  [appHotkeyTitle]="'content.body' | translate"
                ></textarea>
              </mat-form-field>
              <app-hint
                *ngIf="textContainsImage"
                text="utils.formatting-image-hint"
                [type]="warningType"
              ></app-hint>
              <lib-extension-point
                *ngIf="!isLoading"
                extensionId="attachment-list"
                [extensionData]="attachmentData"
              ></lib-extension-point>
              <div class="form-spacer"></div>
            </form>
            <div>
              <mat-checkbox
                *ngIf="
                  ['slide', 'flashcard'].indexOf(selectedFormat.name) === -1
                "
                [(ngModel)]="abstentionsAllowed"
              >
                {{ 'content.abstentions-allowed' | translate }}
              </mat-checkbox>
            </div>
            <div *ngIf="!isLoading" class="content-action-container">
              <app-content-choice-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'choice'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-choice-creation>
              <app-content-scale-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'scale'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-scale-creation>
              <app-content-yes-no-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'binary'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-yes-no-creation>
              <app-content-text-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'text'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
                [format]="selectedFormat.name.toLocaleUpperCase()"
              >
              </app-content-text-creation>
              <app-content-text-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'slide'"
                [contentBody]="questionInput.value"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
                [format]="selectedFormat.name.toLocaleUpperCase()"
              >
              </app-content-text-creation>
              <app-content-flashcard-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'flashcard'"
                [contentBody]="questionInput.value"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-flashcard-creation>
              <app-content-sort-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'sort'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-sort-creation>
              <app-content-wordcloud-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'wordcloud'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-wordcloud-creation>
              <app-content-prioritization-creation
                (contentReset)="reset()"
                (contentSent)="saveContent($event)"
                (refId)="linkAttachments($event)"
                *ngIf="selectedFormat.name === 'prioritization'"
                [contentBody]="questionInput.value"
                [abstentionsAllowed]="abstentionsAllowed"
                [createEvent]="createEventSubject.asObservable()"
                [editContent]="content"
              >
              </app-content-prioritization-creation>
              <div
                fxLayout="row"
                fxLayoutAlign="center"
                fxLayoutGap="10px"
                [ngClass]="{ 'top-space': isEditMode }"
              >
                <button
                  (click)="showPreview()"
                  attr.aria-label="{{ 'content.a11y-preview' | translate }}"
                  mat-stroked-button
                >
                  {{ 'content.preview' | translate }}
                </button>
                <button
                  (click)="emitCreateEvent(true)"
                  attr.aria-label="{{ 'content.a11y-submit' | translate }}"
                  color="primary"
                  mat-raised-button
                >
                  {{
                    (isEditMode ? 'content.save' : 'content.create') | translate
                  }}
                </button>
              </div>
            </div>
          </div>

          <div
            [ngClass]="{ 'invisible-card-content': !flipped }"
            class="back side"
          >
            <app-preview
              *ngIf="flipped"
              [content]="content"
              [isEditMode]="isEditMode"
              (flipEvent)="flipBack($event)"
            ></app-preview>
          </div>
        </mat-card>
      </div>
    </section>
  </div>
</div>

<div class="visually-hidden">
  <div id="subject">{{ 'content.a11y-enter-subject' | translate }}</div>
  <div id="body">
    {{
      (created ? 'content.a11y-content-created' : 'content.a11y-enter-body')
        | translate
    }}
  </div>
  <div id="format-choice">{{ 'content.a11y-format-choice' | translate }}</div>
  <div id="format-scale">{{ 'content.a11y-format-likert' | translate }}</div>
  <div id="format-binary">{{ 'content.a11y-format-binary' | translate }}</div>
  <div id="format-text">{{ 'content.a11y-format-text' | translate }}</div>
  <div id="format-slide">{{ 'content.a11y-format-slide' | translate }}</div>
  <div id="format-sort">{{ 'content.a11y-format-sort' | translate }}</div>
  <div id="format-wordcloud">
    {{ 'content.a11y-format-wordcloud' | translate }}
  </div>
  <div id="choose-format">
    {{
      'content.a11y-choose-format'
        | translate
          : { format: 'content.format-' + selectedFormat.name | translate }
    }}
  </div>
</div>
