<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
    <form (ngSubmit)="resetPassword()" fxLayout="column">
      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'login.email' | translate }}</mat-label>
        <input
          matInput
          type="email"
          #email
          [(ngModel)]="username"
          [formControl]="usernameFormControl"
          [errorStateMatcher]="matcher"
          name="email"
          (blur)="activateValidators()"
        />
        <mat-error
          *ngIf="
            usernameFormControl.hasError('email') &&
            !usernameFormControl.hasError('required')
          "
        >
          {{ 'login.email-invalid' | translate }}
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          {{ 'login.email-required' | translate }}
        </mat-error>
      </mat-form-field>
      <p class="info">{{ 'password-reset.forgot-password' | translate }}</p>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button
          mat-raised-button
          color="primary"
          class="login-button"
          type="submit"
        >
          {{ 'password-reset.reset-password' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
