<div
  *ngIf="(healthInfo | async)?.details"
  fxLayout="row"
  fxLayoutAlign="space-around"
  fxLayoutGap="10px"
  class="summary-container"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center">
      <app-health-status
        [status]="(healthInfo | async)?.status"
      ></app-health-status>
    </div>
    <p>
      {{ 'admin-area.system-health' | translate }}
    </p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center">
      <span>{{ (stats | async)?.connectedUsers }}</span>
    </div>
    <p>
      {{ 'admin-area.connected-users' | translate }}
    </p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center">
      <span>{{ (stats | async)?.users }}</span>
    </div>
    <p>
      {{ 'admin-area.user-accounts' | translate }}
    </p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center">
      <span>{{ (stats | async)?.rooms }}</span>
    </div>
    <p>
      {{ 'admin-area.rooms' | translate }}
    </p>
  </div>
</div>
