@import '../../../variables';

$drawer-width: 73px;
$content-padding: 2em;

.routing-container {
  width: calc(100% - $app-padding * 2);
  padding: $app-padding;
}

.room-container {
  margin-top: -$app-padding;
  margin-bottom: -$app-padding;
  height: calc(100vh - #{$bar-height});
  width: calc(100vw - #{$app-padding});
}

.mat-drawer-container {
  background-color: var(--background);
  margin-left: -$app-padding;
  width: calc(100vw + #{$app-padding}) !important;
}

.mat-drawer {
  border: none;
  background-color: var(--background);
}

@media (max-width: 599px) {
  .mat-drawer-container {
    height: calc(100vh - $mobile-bar-height);
  }
}

@media (min-width: 600px) {
  .mat-drawer-container {
    height: calc(100vh - $bar-height);
  }
}

@media (min-width: 1001px) {
  .mat-drawer {
    width: $drawer-width;
  }

  .mat-drawer-content {
    width: calc(100% - #{$drawer-width});
  }
}

@media (max-width: 1000px) {
  .mat-drawer {
    width: 100vw;
    height: $mobile-bar-height;
    position: fixed;
    top: unset;
  }

  .footer {
    display: none;
  }

  .mat-drawer-content {
    height: calc(100vh - $mobile-bar-height);
    margin-left: 0 !important;
    margin-bottom: -$mobile-bar-height;
    padding-bottom: $mobile-bar-height;
  }
}
