.mat-mdc-list-item {
  min-height: 52px;
  padding: 0;
}

.edit-input {
  height: 50px;
  margin-left: 8px;

  input {
    padding-bottom: 20px;
  }

  margin-top: -16px;
}

.delete {
  margin-left: 8px;
  opacity: 0.3;
}

@mixin button-hover {
  opacity: 0.6;
}

@media (hover: none) {
  .delete {
    @include button-hover;
  }
}

.delete:hover,
.delete:focus-within {
  @include button-hover;
}
