.qr-container {
  height: 80%;
  display: flex;
  flex-direction: row;
}

.url {
  margin: 16px 0;

  &:first-of-type {
    margin: 32px 0;
  }

  &:only-of-type {
    margin-bottom: 16px;
  }
}

@media (max-width: 1279px) {
  .url {
    font-size: calc(32px + 1vw);
  }
}

@media (min-width: 1280px) {
  .url {
    font-size: calc(32px + 1.3vw);
  }
}

@media (min-width: 1920px) {
  .url {
    font-size: calc(32px + 1.8vw);
  }
}

.text {
  color: var(--on-surface);
}

$icon-size: calc(32px + 6vw);

.web-icon {
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
  margin: 16px;
  opacity: 0.5;
}

.mat-divider {
  margin: 0 6vw;
}

.copy-url {
  position: absolute;
  top: 1em;
  right: 1em;
}
