<div fxLayout="column" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <div id="live-announcer-button" tabIndex="-1" class="visually-hidden">
      {{
        'room-page.a11y-room-message' | a11yIntro : { name: room.name } | async
      }}
    </div>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf="!isLoading && room">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="header">
          <span class="room-name">
            {{ room.name }}
          </span>
          <span class="room-short-id">{{ room.shortId | splitShortId }}</span>
        </div>
      </div>
      <div *ngIf="room.description" fxLayoutAlign="center">
        <app-rendered-text
          [rawText]="room.description.trim()"
          [renderedText]="room.renderedDescription"
        ></app-rendered-text>
      </div>
      <div fxLayout="column" fxLayoutAlign="center">
        <div
          *ngIf="commentsEnabled || surveyEnabled"
          class="action-button-container"
          fxLayout="row"
          fxLayoutAlign="center"
        >
          <div
            *ngIf="commentsEnabled"
            class="action-button-item"
            fxLayoutAlign="center center"
          >
            <button
              id="comments-button"
              mat-icon-button
              color="primary"
              class="main-button no-ripple"
              [disableRipple]="true"
              [routerLink]="['comments']"
              aria-labelledby="comments"
              appHotkey="1"
              [appHotkeyTitle]="'room-page.comments' | translate"
            >
              <mat-icon
                matBadge="{{ commentCounter }}"
                matBadgeColor="accent"
                class="main-icon"
              >
                question_answer
              </mat-icon>
              <p class="button-text">
                {{ 'room-page.comments' | translate }}
              </p>
            </button>
          </div>
          <div
            *ngIf="surveyEnabled"
            class="action-button-item"
            fxLayoutAlign="center center"
          >
            <button
              mat-icon-button
              color="primary"
              class="main-button no-ripple"
              id="live-survey-button"
              aria-labelledby="live-survey"
              [disableRipple]="true"
              [routerLink]="['feedback']"
              appHotkey="2"
              [appHotkeyTitle]="'room-page.live-survey' | translate"
            >
              <mat-icon class="main-icon"> thumbs_up_down </mat-icon>
              <p class="button-text">
                {{ 'room-page.live-survey' | translate }}
              </p>
            </button>
          </div>
          <p
            *ngIf="!surveyEnabled"
            tabindex="-1"
            id="live-survey-disabled"
            class="visually-hidden"
            appHotkey="2"
            [appHotkeyTitle]="'room-page.live-survey' | translate"
          >
            {{ 'room-page.a11y-live-survey-disabled' | translate }}
          </p>
        </div>
      </div>
      <ng-container *ngIf="contentGroups?.length > 0; else noContents">
        <p
          tabindex="-1"
          id="content-groups"
          class="visually-hidden"
          appHotkey="3"
          [appHotkeyTitle]="'content.groups' | translate"
        >
          {{
            'room-page.a11y-content-groups'
              | translate : { count: contentGroups.length }
          }}
        </p>
      </ng-container>
      <ng-template #noContents>
        <p
          tabindex="-1"
          id="no-content-groups"
          class="visually-hidden"
          appHotkey="3"
          [appHotkeyTitle]="'content.groups' | translate"
        >
          {{ 'room-page.a11y-no-content-groups' | translate }}
        </p>
      </ng-template>
      <div *ngIf="room && contentGroups">
        <app-content-groups
          *ngFor="let contentGroup of contentGroups"
          [contentGroupName]="contentGroup.name"
          [length]="calcContentsInGroup(contentGroup)"
        ></app-content-groups>
      </div>

      <lib-extension-point
        extensionId="attachment-list"
        [extensionData]="attachmentData"
      >
      </lib-extension-point>
    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="comments">{{ 'room-page.a11y-comments' | translate }}</div>
  <div id="live-survey">{{ 'room-page.a11y-live-survey' | translate }}</div>
  <div id="statistics">{{ 'room-page.a11y-statistics' | translate }}</div>
</div>
