@import '../../../variables';

.main-button {
  width: 100% !important;
  height: 100% !important;
  transition: all 150ms;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.moderator-container {
  margin-top: 1em;
}

@media (hover: hover) {
  .main-button {
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 701px) {
  .header {
    flex-direction: row;
    justify-content: space-between;

    & > * {
      font-size: 24px;
    }
  }

  .action-button-container {
    min-height: 160px;
  }

  .moderator-container {
    min-height: 180px;
  }

  .main-icon {
    font-size: 70px;
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    justify-content: center;

    & > * {
      font-size: 18px;
    }
  }

  .action-button-container {
    min-height: 140px;
  }

  .main-icon {
    font-size: 60px;
    height: 60px;
    width: 60px;
  }
}

.room-name {
  word-break: break-all;
  margin: 0;
}

.room-short-id {
  opacity: 0.5;
}

.button-text {
  font-size: 18px;
  padding: 0;
  margin: 16px 0 0;
  line-height: 20px;
  font-weight: $font-weight-bold;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.action-button-container {
  width: 100%;
}

.action-button-item {
  width: 50%;
}

.group-container {
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
}
