<div fxLayout="column" fxLayoutAlign="space-between" class="answer-container">
  <form *ngIf="!givenAnswer">
    <app-content-text-answer
      (inputEvent)="textAnswer = $event"
    ></app-content-text-answer>
  </form>
  <div *ngIf="givenAnswer && givenAnswer.body">
    <p class="answer">{{ givenAnswer.body }}</p>
  </div>
</div>
