<div mat-dialog-content>
  <form
    (ngSubmit)="login(userActivationKey.value)"
    fxLayout="column"
    fxLayoutAlign="space-around"
    fxLayoutGap="10px"
  >
    <mat-form-field class="input-block" appearance="outline">
      <mat-label>{{ 'user-activation.key' | translate }}</mat-label>
      <input
        matInput
        #userActivationKey
        type="text"
        [formControl]="activationKeyFormControl"
        name="activation-key"
        aria-labelledby="key-input"
      />
    </mat-form-field>
  </form>
  <p tabindex="0">
    {{ 'user-activation.verification-info' | translate }}
  </p>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>{{ 'user-activation.didnt-get' | translate }}</p>
    <button
      mat-button
      color="accent"
      class="reset"
      (click)="
        resetActivation(); $event.preventDefault(); $event.stopPropagation()
      "
    >
      {{ 'user-activation.reset-button' | translate }}
    </button>
  </div>
</div>
<div
  mat-dialog-actions
  fxLayoutAlign="start"
  fxLayout="row-reverse"
  fxLayoutGap="10px"
>
  <button
    mat-flat-button
    color="primary"
    (click)="login(userActivationKey.value)"
  >
    {{ 'user-activation.activate' | translate }}
  </button>
  <button mat-button (click)="cancel()">
    {{ 'user-activation.cancel' | translate }}
  </button>
</div>

<div class="visually-hidden">
  <div id="key-input">{{ 'user-activation.a11y-key-input' | translate }}</div>
</div>
