.mat-mdc-card {
  margin: 5px;
  width: calc(100% - 10px);
}

.with-margin {
  max-width: calc(832px + 10px);
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

.text {
  padding: 10px 0;
}

.invisible {
  position: absolute;
  left: 50%;
  top: -200px;
  transform: scale(0);
}

.visible {
  top: 50%;
  transition: 0.5s;
  transform: scale(1);
}

.back-container {
  position: relative !important;
  padding-top: 1px;
  margin-top: -1px;
}
